@font-face {
    font-family: alien;
    src: url(./fonts/SFAlienEncounters.ttf);
}
@font-face {
    font-family: stream;
    src: url(./fonts/Streamster.ttf);
}
@font-face {
    font-family: roboto-r;
    src: url(./fonts/Roboto-Regular.ttf);
}
body{
    margin: 0;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fd6396;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid white;
}

.header >.logo-text{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    /* gap: 10px; */
    font-family: alien;
    font-size: 36px;
    /* text-decoration: underline; */
    /* font-weight: 900; */
    color: white;
    align-items: center;
    
    
}
.header >.logo-text>.kata{
    font-size: 15px;
    
}

.header >.links{
    display: flex;
    /* flex: 1; */
        font-size: 22px;
       
}
ul .icon{
    
    width: 22px;
    height: 22px;
    
}
.header>.logo{
    display: flex;
    /* flex: 1; */
}
.links>ul{
    display: flex;
    list-style: none;
    font-family: roboto-r;
    gap: 10px;
}
ul a{
    text-decoration: none;
    
    color: white;
    
}


.background1{
    /* height: 500px; */
    background-image: url(./images/background1.png);
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
    
    
    
}
.greetings{
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    background-color: rgb(1,1,1, .6) ;
    justify-content: center
    
    
        
}
.greetings>.left{
   display: flex;
    flex: auto; 
    flex-direction: column;
    width: 500px;
   
    
   
}
.greetings>.left>.title{
    font-size: 35px;
    font-family: stream;
    font-weight: 900;
    color:#fd6396;
    text-align: center;
    
 }   
 .left >.text{
    text-align: justify;
    font-size: 18px;
    
 }
 .left a{
    color: white;
    font-weight: bold;
 }
    
    


.greetings >.right > .image > img{
    width: 400px;
    /* object-fit: cover; */
           
}
.greetings>.right>.image{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: roboto-r;
   
    
   
    
   
}

.background1>.button{
    background-color: rgb(1,1,1, .6) ;
    display: flex;
    justify-content: center;
    padding-bottom: 33px;
    
}
.button>button{
    color: hotpink;
    background-color: aqua;
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
   
}
.information{
    display: flex;
    flex-direction: column;
    background-color: #55a6df;
    border-top: 2px solid white;
}
.information>h2{
    text-align: center;
    
}

.information>.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    flex: auto;
    
}

.information>.container>.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 200px;
    
    
    
    
}

.information>.container>.image>p{
    display: flex;
    width: 150px;

    
    
    
}
.information>.container>.image>a >img{
    width: 150px;
    height: 150px;
    border: 5px solid hotpink;
    

}
    
    
    
    
   
    
    


   
