body{
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #66e3e0;
    padding-left: 20px;
    padding-right: 20px;
}

.header >.logo-text{
    display: flex;
    /* flex: 1; */
    gap: 10px;
}

.header >.links{
    display: flex;
    /* flex: 1; */
}
.header>.logo{
    display: flex;
    /* flex: 1; */
}
.links>ul{
    display: flex;
    list-style: none;
    /* color: black; */
    gap: 10px;
}
a{
    text-decoration: none;
    color: black;
}